* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sono", sans-serif;
  color: #fafaf9;
  padding: 48px;
  background-color: #1c1917;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.fact-form {
  margin-bottom: 40px;
  padding: 16px 40px;
  background-color: #44403c;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  column-gap: 48px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  margin-top: 6px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -1px;
  font-family: "Sono", sans-serif;

  padding: 16px 24px;
  margin-bottom: 16px;

  display: flex;
  align-items: center;
  gap: 24px;

  background-color: #44403c;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.vote-buttons {
  margin-left: auto;
}

.vote-button {
  padding: 2px;
}

ul {
  list-style: none;
}
